Source: nagios2mantis
Section: admin
Priority: optional
Maintainer: Cyril Bouthors <cyb@debian.org>
Uploaders: Cyril Bouthors <cyril@boutho.rs>, Cyril Bouthors <cyril@bouthors.org>
Build-Depends: python-all (>= 2.6.6-3),
    debhelper (>= 5),
    help2man,
    python-coverage (>= 3.5)
Standards-Version: 3.9.4

Package: nagios2mantis
Architecture: all
Depends: nagios3,
    python,
    python-soappy,
    python-configparser,
    python-argparse,
    python-yaml,
    incron,
    ${misc:Depends}
# See http://bugs.debian.org/717675
Conflicts: python-m2crypto
Description: Automatically create Mantis issues on Nagios events
 Converts Nagios notifications to Mantis issues thanks to the Soap API.
